.topicos {
    background: var(--azul-fundo);
    text-align: center;
    padding: 1em 0;
}

.topicos-titulo {
    color: var(--branco);
    font-weight: 400;
    font-size: 1.3em;
}

.topicos-lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.topicos-item {
    margin: 1.2em 0.5em;
    list-style-type: none;
}

.topicos-link {
    color: var(--branco);
    padding: 1em 2em;
    border: 1px solid var(--verde-topicos);
    border-radius: 8px;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    transition: 0.5s;
}

.topicos-link:hover {
    background-color: rgba(127, 150, 255, 0.137);
}